h2{

  font-size: 30px;
  text-align: center;
  font-family: "Sans-serif", Geneva;
}


h1{
  font-family: "Sans-serif", Geneva;
  background-color: #053464;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

body{
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

.leftcolumn {
  float: left;
  width: 60%;
}

.rightcolumn {
  float: left;
  width: 35%;
  background-color: #f1f1f1;
  padding-left: 40px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h5{
  text-indent: 80px
}

p{
  /* text-indent: 10px */
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
