h2{
  font-size: 30px;
<<<<<<< HEAD
  text-indent: 50px;
font-family: "Sans-serif", Geneva;
=======
  text-indent: 100px;
  font-family: "Sans-serif", Geneva;
>>>>>>> 9a1afc8bfe986ffa6cfafa6423327080072cd619
}

h1{
  font-family: "Sans-serif", Geneva;
  background-color: #053464;
  padding: 30px;
  text-align: center;
  font-size: 55px;
  color: white;
}

body{
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h5{
  text-indent: 80px
}

p{
  text-indent: 80px
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
